[user]
    name = Ryohei Sugano
    email = xxxxxxx
[core]
    excludesfile = /Users/sugano/.gitignore
    editor = vim
    ignorecase  = false
[color]
    diff = auto
    branch = auto
    status = auto
    ui = auto
[alias]
    co = checkout
    st = status
    br = branch
[pull]
    rebase = false
[fetch]
    prune = true
[init]
    defaultBranch = main
